target/
Screenshots/
/Screenshots/
/Target/
/target
/target/
Target/
/NewProject/Screenshots
/NewProject/Screenshots
/NewProject/target
/NewProject/target/
/NewProject/ExecutionReports
/NewProject/Target
.DS_Store
/NewProject/.DS_Store
/NewProject/target
/NewProject/target
/NewProject/target
NewProject/target/classes/com/app/pages/LoginPage.class
/NewProject/target/classes
/NewProject/target
