target/
Screenshots/
/Screenshots/
/Target/
/Target
Target/
/NewProject/Screenshots
/NewProject/Screenshots
/NewProject/target
/NewProject/ExecutionReports
/NewProject/target
/NewProject/target
.DS_Store
target/
Screenshots/
/Screenshots/
/Target/
/target
Target/
/NewProject/Screenshots
/NewProject/Screenshots
/NewProject/target
/NewProject/ExecutionReports
/NewProject/Target
/NewProject/.idea/
NewProject/.idea/
/NewProject/.idea
.idea/*
.DS_Store
/NewProject/.DS_Store